
.container {
    width: 100%;
}

.navigation {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.brand {
    font-family: 'Space Grotesk', monospace;
}

.links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link {
    font-family: 'Space Grotesk', monospace;
    cursor: pointer;
}

.button {
    font-family: 'Space Grotesk', monospace;
    padding: 0.8rem 1rem;
    background-color: var(--colour-purple);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.13s ease;
}
.button:hover {
    filter: brightness(0.95);
}
.button:active {
    transform: scale(0.98);
}

.hero {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 5rem 0;
}

.hero h1 {
    font-family: 'Space Grotesk', monospace;
}