.interfaceWrapper {
  position: fixed;
  bottom: 0;
  right: 2rem;
}
.interfaceWrapper.static {
  position: static;
}

.interface {
  display: flex;
  flex-direction: column;
}

.chat {
  width: 300px;
  height: var(--chat-box-height);
  position: relative;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

  background-color: white;
  border-radius: 12px;

  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateY(calc(var(--chat-box-height) - 60px));
}
.chat.opened {
  width: 400px;
  transform: translateY(0px);
}
.guy {
  user-select: none;
  position: absolute;
  background: #3a7cff9a;
  border-radius: 12px 12px 0 0;
  backdrop-filter: blur(10px);
  color: white;
  font-family: "Space Grotesk", monospace;

  top: 0;
  width: 100%;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  gap: 0.8rem;
}
.guy .branding {
  flex-grow: 1;
  font-family: "Space Grotesk", monospace;
}
.chat.opened > .guy {
  background: #3a7cff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.whiteAvatar {
  height: 10px;
  width: 10px;
  background: greenyellow;
  border-radius: 35px;
}
.beginningOfChat {
  font-size: 0.8rem;
  line-height: 150%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #777;
}
.chatHistory {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 100%;
  overflow-y: auto;

  padding: 80px 1rem;
}
.chatRow {
  display: flex;
  width: 100%;
  align-items: flex-end;
  padding-right: 4rem;
  padding-left: 0rem;
  gap: 0.5rem;
}
.chatRow.right {
  justify-content: flex-end;
  padding-left: 4rem;
  padding-right: 0rem;
}
.avatarWrapper {
  width: 30px;
  height: 30px;
  min-width: 30px;
  display: none;
}
.avatar {
  height: 100%;
  width: 100%;
  background: #ccc;
  border-radius: 100%;
}
.thinkingContainer {
  position: relative;
  min-height: 40px;
  width: 40px;
  overflow: hidden;
  transition: all 0.2s ease;

  display: none;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
}
.thinkingContainer.show {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.chatMessage {
  background-color: #3a7dff;
  border-radius: 14px;
  padding: 0.45rem 0.7rem;
  color: white;
  font-size: 0.98rem;
  line-height: 150%;
}
.chatMessage.user {
  background-color: #e4e6eb;
  color: black;
}

.chatBox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
.chatBoxInner {
  width: 100%;
  height: 100%;
  position: relative;
}
.chatBox input[type="text"] {
  padding: 0.8rem;
  outline: none;
  resize: none;
  border: none;
  background: #eeeeee83;
  backdrop-filter: blur(10px);
  border-radius: 999px;
  font-size: 1rem;
  width: 100%;
  padding-right: 100px;
}
.sendButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.38rem;
  background-color: #3a7dff;
  padding: 0.5rem 0.8rem;
  border-radius: 1000px;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  font-family: "Space Grotesk", monospace;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  user-select: none;
  transition: all 0.13s ease;
}
.sendButton:not(.disabled):hover {
  filter: brightness(0.92);
}
.sendButton:not(.disabled):active {
  transform: translateY(-50%) scale(0.95);
}
.sendButton.disabled {
  background-color: #ccc;
  color: #777;
}
