

.button {
    font-family: 'Space Grotesk', monospace;
    padding: 0.8rem 1rem;
    background-color: var(--color-blue);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.13s ease;
    box-shadow: 0 0 2px var(--color-blue);
}
.button:hover {
    filter: brightness(0.95);
}
.button:active {
    transform: scale(0.98);
}