.demoWebsite {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.interfaceWrapper {
  position: fixed;
  bottom: 0;
  right: 2rem;
}

.interface {
  display: flex;
  flex-direction: column;
}

.chat {
  width: 300px;
  height: 400px;

  box-shadow: 0 0 10px rgba(0,0,0,0.05);

  background-color: white;
  border-radius: 12px;
  margin-bottom: 0.5rem;

  transition: all 0.15s ease;
  transform: translateY(250px);
}
.chat.opened {
  transform: translateY(0px);
}
.guy {
  height: 50px;
}